fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 12px 0;
}
.mat-mdc-list {
  width: 100%;
  margin-bottom: 24px;
}
.drag-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.3;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}
.cdk-drag-preview {
  button,
  .mat-icon {
    display: none;
  }
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
  border: none;
}

.mat-mdc-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  width: 100%;
}

.no-results {
  pointer-events: none;
}

.like-mat-hint {
  font-size: 75%;
  color: rgba(0, 0, 0, 0.54);
}
