<mat-toolbar>
    <div fxLayout="row" fxFlexFill>
    <div fxLayoutAlign="start center" fxFlex="33">
        <span i18n>Wireless Configs</span>
    </div>
    <div fxFlex></div>
    <div fxFlex="33" fxLayoutAlign="end">
        <button id="btnAddMale" fxHide.xs mat-button (click)="navigateTo()">
            <mat-icon>add</mat-icon> Add New
        </button>
    </div>
    </div>
</mat-toolbar>
<mat-progress-bar mode='indeterminate' [fxHide]="isLoading===false"></mat-progress-bar>
<mat-card>
    <mat-card-content>
        <mat-table [dataSource]="wirelessConfigs">
            <!-- select Column -->
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef fxFlex="70px"> </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="70px">
                    <mat-checkbox [(ngModel)]="row.isChecked" (click)="$event.stopPropagation()"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <!-- name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.profileName }} </mat-cell>
            </ng-container>

            <!-- server Column -->
            <ng-container matColumnDef="authmethod">
                <mat-header-cell *matHeaderCellDef fxFlex="150px"> Authentication </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="150px"> {{ element.authenticationMethod === 4 ? "WPA PSK": "WPA2 PSK" }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="encryptionMethod">
                <mat-header-cell *matHeaderCellDef fxFlex="150px"> Encryption </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="150px"> {{ element.encryptionMethod === 3 ? "TKIP": "CCMP" }}
                </mat-cell>
            </ng-container>

            <!-- activation Column -->
            <ng-container matColumnDef="ssid">
                <mat-header-cell *matHeaderCellDef fxFlex="150px"> SSID </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="150px"> {{ element.ssid }}
                </mat-cell>
            </ng-container>

            <!-- remove Column -->
            <ng-container matColumnDef="remove">
                <mat-header-cell *matHeaderCellDef fxFlex="12.5"> </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="12.5" (click)="$event.stopPropagation()">
                    <button mat-icon-button (click)="delete(row.profileName)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateTo(row.profileName)" ></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>