<div class="flex-1 flex-row">
  <mat-card class="flex flex-50 gap-12">
    <mat-card-header>
      <mat-card-title>
        System Summary
      </mat-card-title>
      <mat-card-subtitle>Summary of CPU and Chassis information</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-row flex-wrap">
        <div *ngFor="let chip of hwInfo?.CIM_Chip?.responses" class="flex flex-1">
          <div *ngIf="chip.Version !== null" class="flex-row flex-1 flex-wrap">
            <div class="flex flex-25">
              <p>CPU: </p>
            </div>
            <div class="flex flex-75 justify-end">
              <span class="mat-h3" data-cy="chipVersion"> {{chip.Version}}</span>
            </div>
          </div>
        </div>
        <div class="flex flex-50">
          <p>Manufacturer: </p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3" data-cy="manufacturer">
            {{hwInfo?.CIM_Chassis?.response?.Manufacturer}}</span>
        </div>
        <div class="flex flex-50">
          <p>Model: </p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3" data-cy="model"> {{hwInfo?.CIM_Chassis?.response?.Model}}</span>
        </div>
        <div class="flex flex-50">
          <p>Serial No:</p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3" data-cy="serialNumber">
            {{hwInfo?.CIM_Chassis?.response?.SerialNumber}}</span>
        </div>
        <div class="flex flex-50">
          <p>Version: </p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3" data-cy="version">{{hwInfo?.CIM_Chassis?.response?.Version}}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="flex-1 flex-row">
  <mat-card class="flex flex-50 gap-12">
    <mat-card-header>
      <mat-card-title>
        BIOS Summary
      </mat-card-title>
      <mat-card-subtitle>Summary of BIOS information</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p></p>
      <div class="flex-row flex-wrap">
        <div class="flex flex-50">
          <p>Manufacturer: </p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3" data-cy="biosManufacturer">{{hwInfo?.CIM_BIOSElement?.response?.Manufacturer}}</span>
        </div>
        <div class="flex flex-50">
          <p>Version:</p>
        </div>
        <div class="flex flex-50 justify-end"><span class="mat-h3" data-cy="biosVersion">
            {{hwInfo?.CIM_BIOSElement?.response?.Version}}</span>
        </div>
        <div class="flex flex-50">
          <p>Release Date:</p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3" data-cy="biosReleaseData">{{hwInfo?.CIM_BIOSElement?.response?.ReleaseDate.Datetime |
            amDateFormat:'LLL'}}</span>
        </div>
        <div class="flex flex-50">

          <p>Target OS:</p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3" data-cy="biosTargetOS">
            {{targetOS[hwInfo?.CIM_BIOSElement?.response?.TargetOperatingSystem || 0] }}
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="flex flex-50 gap-12" id="memorySummary">
    <mat-card-header>
      <mat-card-title>
        Memory Summary
      </mat-card-title>
      <mat-card-subtitle>Summary of physical memory installed</mat-card-subtitle>
      <div class="flex flex-1 justify-end">
        <mat-icon>memory</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let bank of hwInfo?.CIM_PhysicalMemory?.responses" class="flex-row flex-wrap">
        <div style="margin: 12px 0;" class="flex flex-1">
          <mat-divider></mat-divider>
        </div>
        <div class="flex flex-50">
          <p>Slot: </p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3" data-cy="bankLabel"> {{bank.BankLabel}}</span>
        </div>
        <div class="flex flex-50">
          <p>Capacity: </p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3" data-cy="bankCapacity"> {{bank.Capacity / 1024 / 1024 / 1024 }}
            GB</span>
        </div>
        <div class="flex flex-50">
          <p>Clock Speed(Max):</p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3" data-cy="bankMaxClockSpeed"> {{bank.ConfiguredMemoryClockSpeed}}
            ({{bank.MaxMemorySpeed}}) Mhz</span>
        </div>
        <div class="flex flex-50">
          <p>Serial No.:</p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3" data-cy="bankSerialNumber"> {{bank.SerialNumber}}</span>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
