<h2 mat-dialog-title>CIRA and Static Network Configuration</h2>
<mat-dialog-content class="mat-typography">
  You have chosen to connect using CIRA with a static IP network configuration. Devices running a version of
  AMT lower than 11.6 will not connect to an MPS using CIRA if they have a static IP network configuration.
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Continue</button>
</mat-dialog-actions>