<mat-toolbar color="primary">
  <div class="flex-50">
    Open AMT Cloud Toolkit Sample UI
  </div>
  <div class="flex flex-50 justify-end items-center">
    @if(cloudMode === true){
      <div *ngIf="isLoggedIn === true" class="version">MPS: v{{mpsVersions?.serviceVersion}}</div>
      <div *ngIf="isLoggedIn === true" class="version">RPS: v{{rpsVersions?.serviceVersion}}</div>
      <mat-divider  vertical></mat-divider>
    }
    <span i18n>Hi</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn === true">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon><span i18n>Log out</span>
      </button>
    </mat-menu>
    <button mat-icon-button (click)="displayAbout()">
      <mat-icon>info</mat-icon>
    </button>
  </div>
</mat-toolbar>
