<mat-toolbar color="primary">
    <div fxFlex="50">
        Open AMT Cloud Toolkit Sample UI
    </div>
    <div fxFlex="50" fxLayoutAlign="end center">
        <span i18n>Hi</span>
        <!-- <button mat-icon-button>
            <mat-icon>wb_sunny</mat-icon>
            <mat-icon>nightlight_round</mat-icon>
        </button> -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon><span i18n>Log out</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>