@use 'sass:map';
// Custom Theming for Angular Material
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use 'src/styles/_variables.scss' as vars;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$openamtui-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: vars.$openamtui-primary,
      accent: vars.$openamtui-accent,
      warn: vars.$openamtui-warn
    )
  )
);

$openamtui-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: vars.$openamtui-primary,
      accent: vars.$openamtui-accent,
      warn: vars.$openamtui-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($openamtui-theme);

.dark-theme {
  @include mat.all-component-colors($openamtui-dark-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-card {
  margin: 12px;
  padding: 12px;
}

.mat-mdc-row {
  -moz-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;

  &:hover {
    background-color: map.get(vars.$openamtui-accent, 100);
    cursor: pointer;
    -moz-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
}

.mat-column-remove,
.mat-column-select {
  flex: 0 0 75px;
  width: 75px;
}

.mat-drawer-container {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}

.mat-mdc-form-field {
  margin-bottom: 10px;
}

.mat-mdc-snack-bar-container {
  &.warn {
    text-align: center;
    text-transform: uppercase;
    border-top-color: #ff9800;
    border-top-width: 5px;
    border-top-style: solid;
  }

  &.error {
    text-align: center;
    text-transform: uppercase;
    border-top-color: map.get(vars.$openamtui-warn, 500);
    border-top-width: 5px;
    border-top-style: solid;
  }

  &.success {
    text-align: center;
    text-transform: uppercase;
    //background-color: map.get($openamtui-primary, 900);
    border-top-color: map.get(vars.$openamtui-primary, 300);
    border-top-width: 5px;
    border-top-style: solid;
  }
}

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
