<mat-toolbar>
  <div class="flex-33">
    <span i18n>Domains</span>
  </div>
  <div class="flex-1"></div>
  <div class="flex flex-33 justify-end">
    <button id="btnAdd" mat-button (click)="navigateTo()">
      <mat-icon>add</mat-icon> Add New
    </button>
  </div>
</mat-toolbar>
@if (isLoading()) {
<mat-progress-bar mode='indeterminate'></mat-progress-bar>
}
<mat-card>
  <mat-card-content>
    @if (isNoData()) {
    <h3 class="flex justify-center">No Domains</h3>
    } @else{
    <mat-table [dataSource]="domainsDataSource">
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.profileName }} </mat-cell>
      </ng-container>
      <!-- domainSuffix Column -->
      <ng-container matColumnDef="domainSuffix">
        <mat-header-cell *matHeaderCellDef> Domain Suffix</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.domainSuffix }}
        </mat-cell>
      </ng-container>
      <!-- expiration date Column -->
      <ng-container matColumnDef="expirationDate">
        <mat-header-cell *matHeaderCellDef>Expiration Date</mat-header-cell>
        <mat-cell data-cy="expCol" *matCellDef="let element">
          {{ element.expirationDate | date: 'MM/dd/yyyy'}} -
          <mat-icon color="warn" [style.display]="getRemainingTime(element.expirationDate) === 'Expired' ? 'inline' : 'none'">warning</mat-icon>
          {{ getRemainingTime(element.expirationDate) }}
        </mat-cell>
      </ng-container>
      <!-- remove Column -->
      <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <button mat-icon-button (click)="delete(row.profileName)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateTo(row.profileName)"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]" [pageSize]="25" [length]="totalCount" (page)="pageChanged($event)" showFirstLastButtons>
    </mat-paginator>
    }
  </mat-card-content>
</mat-card>
