.wireless-networks {
  margin-bottom: 20px;
}
.network-item {
  margin-bottom: 10px;
}
.network-name {
  font-weight: bold;
  margin-bottom: 5px;
}
mat-list-item {
  height: auto !important;
  padding: 8px 0;
}
