<mat-toolbar>Network Settings</mat-toolbar>

<div class="flex-1 flex-row">
  <mat-card class="flex flex-50 gap-12">
    <mat-card-header>
      <mat-card-title>Wired Network Settings</mat-card-title>
      <mat-card-subtitle>View network settings for this device</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-row flex-wrap">
        <div class="flex flex-50">
          <p>Link Status</p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3">Status</span>
        </div>
        <!-- Repeat for each property -->
        <div class="flex flex-50">
          <p>Link Policy</p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3">Policy</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="flex flex-50 gap-12">
    <mat-card-header>
      <mat-card-title>Wireless Network Settings</mat-card-title>
      <mat-card-subtitle>View network settings for this device</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-row flex-wrap">
        <div class="flex flex-50">
          <p>Link Status</p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3">Status</span>
        </div>
        <!-- Repeat for each property -->
        <div class="flex flex-50">
          <p>Link Policy</p>
        </div>
        <div class="flex flex-50 justify-end">
          <span class="mat-h3">Policy</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
