<app-device-toolbar [deviceState]="deviceState"></app-device-toolbar>
<mat-toolbar style="height:75px">
  <mat-form-field style="margin-bottom:0">
    <mat-label>Choose encoding type</mat-label>
    <mat-select [(ngModel)]="selected" (ngModelChange)="onEncodingChange($event)">
      <mat-option *ngFor="let encode of encodings" [value]="encode.value">
        {{ encode.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-toolbar>
<mat-progress-spinner class="spinner" *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
<amt-kvm *ngIf="readyToLoadKvm" class="kvm" [deviceId]="deviceId" [mpsServer]="mpsServer" [authToken]="authToken" [deviceConnection]="deviceConnection" [selectedEncoding]="selectedEncoding" (deviceStatus)="deviceStatus($event)"></amt-kvm>
