<mat-nav-list class="mat-nav-list">
  <a href="#" class="flex navbar-brand justify-center">
    <img alt="logo" style="margin:10px 0" height="35" src="../../../assets/logo.png">
  </a>

  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon matListItemIcon>home</mat-icon>
    <span i18n="navlink">Dashboard</span>
  </a>

  <a mat-list-item routerLink="/ieee8021x" routerLinkActive="active">
    <mat-icon matListItemIcon>security</mat-icon>
    <span i18n="navlink">IEEE 802.1x</span>
  </a>
  <a mat-list-item routerLink="/wireless" routerLinkActive="active">
    <mat-icon matListItemIcon>wifi</mat-icon><span i18n="navlink">Wireless</span>
  </a>
  <a mat-list-item routerLink='/ciraconfigs' routerLinkActive="active" [disabled]="cloudMode === false" [matTooltipPosition]="'right'" [matTooltip]="cloudMode === false ? 'Not Available' : 'CIRA Configs'">
    <mat-icon matListItemIcon>settings_ethernet</mat-icon><span i18n="navlink">CIRA Configs</span>
  </a>

  <a mat-list-item routerLink="/profiles" routerLinkActive="active">
    <mat-icon matListItemIcon>settings_system_daydream</mat-icon><span i18n="navlink">Profiles</span>
  </a>
  <a mat-list-item routerLink="/domains" routerLinkActive="active">
    <mat-icon matListItemIcon>http</mat-icon><span i18n="navlink">Domains</span>
  </a>

  <a mat-list-item routerLink="/devices" routerLinkActive="active">
    <mat-icon matListItemIcon>devices</mat-icon><span i18n="navlink">Devices</span>
  </a>
  <!-- <a mat-list-item routerLink="/event-channel" routerLinkActive="active">
        <mat-icon matListItemIcon>data_exploration</mat-icon><span i18n="navlink">MQTT Events</span>
    </a> -->

</mat-nav-list>
