<mat-toolbar>
    {{ pageTitle }}
</mat-toolbar>
<mat-progress-bar mode=indeterminate [fxShow]="isLoading"></mat-progress-bar>
<div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md=100>
        <mat-card-header>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-list *ngIf="errorMessages.length > 0">
            <mat-list-item *ngFor="let item of errorMessages">
                <mat-icon color="warn" mat-list-icon>error</mat-icon>
                {{ item }}
            </mat-list-item>
        </mat-list>
        <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <div fxLayout="row wrap">
                    <mat-form-field fxFlex="100" style="margin-bottom: 10px;">
                        <input formControlName="configName" matInput name="configName" placeholder="Config Name"
                            required>
                        <mat-error>This field is required</mat-error>
                        <mat-hint>Enter a name for this CIRA config (ie. Azure CIRA Config)</mat-hint>
                    </mat-form-field>

                    <mat-radio-group name="serverAddressFormat" formControlName="serverAddressFormat"
                        fxLayout="row wrap">
                        <mat-radio-button fxFlex=50 value="3" checked="true">IPv4</mat-radio-button>
                        <mat-radio-button fxFlex=50 value="201">FQDN</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field fxFlex="100">
                        <input formControlName="mpsServerAddress" matInput name="mpsServerAddress"
                            placeholder="MPS Server Address" required>
                        <mat-error>This field is required</mat-error>
                        <mat-hint>Enter the address of where your MPS instance is hosted</mat-hint>
                    </mat-form-field>
                    <mat-form-field fxFlex="100">
                        <input formControlName="commonName" matInput name="commonName"
                            placeholder="Cert Common Name (CN=)" required>
                        <mat-error>This field is required</mat-error>
                        <mat-hint>Enter the common name that matches what is in the certificate. This should typically match the IP address of your MPS Server if not using an FQDN.</mat-hint>
                    </mat-form-field>
                    <mat-form-field fxFlex="100">
                        <input type=number formControlName="mpsPort" matInput name="mpsPort" placeholder="Port"
                            required>
                        <mat-error>This field is required</mat-error>
                        <mat-hint>Enter the port for which MPS Server is listening. The default is 4433.</mat-hint>
                    </mat-form-field>
                    <mat-form-field fxFlex="100">
                        <input formControlName="username" matInput name="username" placeholder="Username" required maxlength="16">
                        <mat-error>This field is required</mat-error>
                        <mat-hint>Enter the username for accessing MPS</mat-hint>
                    </mat-form-field>
                    <div fxFlex="50" style="margin-top:15px">
                        <mat-checkbox formControlName="generateRandomPassword">Generate Random Password</mat-checkbox>
                      </div>
                    <mat-form-field fxFlex="100">
                        <input type="password" formControlName="password" matInput name="password"
                            placeholder="Password" required minlength=8>
                        <mat-error>This field is required and must be at least 8 characters long</mat-error>
                        <mat-hint>Enter the password for accessing MPS</mat-hint>
                    </mat-form-field><br><br><br><br>
                    <mat-slide-toggle formControlName="autoLoad">
                        Auto-load MPS Root Certificate Format
                    </mat-slide-toggle>

                    <mat-form-field fxFlex="100" [fxHide]="shouldShowCertBox()">
                        <textarea rows=5 formControlName="mpsRootCertificate" matInput name="mpsRootCertificate"
                            placeholder="MPS Root Cert"></textarea>

                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="50" fxLayoutAlign="center center">
                        <button type="button" mat-button color="primary" (click)="cancel()">
                            <span i18n>CANCEL</span>
                        </button>
                    </div>
                    <div fxFlex="50" fxLayoutAlign="center center">
                        <button type="submit" mat-flat-button color="primary">
                            <span i18n>SAVE</span>
                        </button>
                    </div>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>