<mat-toolbar>
  <div class="flex flex-row" style="width: 100%;">
    <div class="flex-50">WSMAN Explorer</div>
    <div class="flex flex-50 items-center justify-end">
      <mat-select style="width:350px" [(ngModel)]="selectedWsmanOperation">
        <mat-option *ngFor="let item of wsmanOperations" [value]="item">{{item}}</mat-option>
      </mat-select>
    </div>
  </div>

</mat-toolbar>
<div class="flex flex-row flex-wrap" style="min-height:calc(100% - 128px - 48px);height:calc(100% - 128px - 48px)">
  <div class="flex-50">
    <mat-card style="height:100%;padding:0">
      <mat-card-header>
        <h3 class="mat-h3">Input</h3>
      </mat-card-header>
      <mat-card-content style="min-height:calc(100% - 76px);height:calc(100% - 76px);padding:0">
        <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [ngModel]="XMLData?.xmlInput"></ngx-monaco-editor>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="flex-50">
    <mat-card style="height:100%;padding:0">
      <mat-card-header>
        <h3 class="mat-h3">Output</h3>
      </mat-card-header>
      <mat-card-content style="min-height:calc(100% - 76px);height:calc(100% - 76px);padding:0">
        <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [ngModel]="XMLData?.xmlOutput"></ngx-monaco-editor>
      </mat-card-content>
    </mat-card>
  </div>
</div>
