
<app-device-toolbar [isLoading]="isLoading"></app-device-toolbar>
<mat-sidenav-container autosize>
    
    <mat-sidenav class="auditlog-sidenav" mode="side" position="end" opened>
        <mat-tab-group>
            <mat-tab label="Audit Log" class="tab">
                <h3 class="mat-h3">Device Audit Log ({{auditLogData.totalCnt}} entries)</h3>
        <mat-vertical-stepper #stepper>
            <mat-step completed="false" editable="false" *ngFor="let entry of auditLogData.records.slice().reverse()">
                <ng-template matStepLabel><span data-cy="auditLogEntry">{{entry.Event}}</span><br />{{ entry.Time | amTimeAgo:true }} ago</ng-template>
            </mat-step>
        </mat-vertical-stepper>
        <div fxLayoutAlign="center" style="margin-top:12px">
            <button mat-flat-button (click)="navigateTo('audit-log')" color="primary" style="margin: 5px">See All Activity</button>
        </div>
            </mat-tab>
            <mat-tab label="Event Log" class="tab">
                <h3 class="mat-h3">Device Event Log ({{eventLogData.length}} entries) </h3>
                <mat-vertical-stepper #stepper>
                    <mat-step completed="false" editable="false" *ngFor="let entry of eventLogData.slice(0, 10)">
                        <ng-template matStepLabel><span data-cy="eventLogEntry">{{entry.Desc}}</span><br />{{ entry.Time | amTimeAgo:true }} ago</ng-template>
                    </mat-step>
                </mat-vertical-stepper>
                <div fxLayoutAlign="center" style="margin-top:12px">
                    <button mat-flat-button (click)="navigateTo('event-log')" color="primary" style="margin: 5px"> <span><div data-cy="eventSeeAllActivity">See All Activity</div></span></button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav>
    <mat-sidenav-content>
        <div fxLayout="row wrap">
            <mat-card fxFlex="calc(50%-24px)" fxFlex.lt-lg="100">
                <mat-card-header>
                    <mat-card-title>
                        System Summary
                    </mat-card-title>
                    <mat-card-subtitle>Summary of CPU and Chassis information</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p></p>
                    <div fxLayout="row wrap">
                        <div *ngFor="let chip of hwInfo?.CIM_Chip?.responses" fxFlex="100">
                            <div *ngIf="chip.Version != null">
                                <div fxFlex="25">
                                    <p>CPU: </p>
                                </div>
                                <div fxFlex="75" fxLayoutAlign="end">
                                    <span class="mat-h3" data-cy="chipVersion"> {{chip.Version}}</span>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50">
                            <p>Manufacturer: </p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <span class="mat-h3" data-cy="manufacturer"> {{hwInfo?.CIM_Chassis?.response?.Manufacturer}}</span>
                        </div>
                        <div fxFlex="50">
                            <p>Model: </p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <span class="mat-h3" data-cy="model"> {{hwInfo?.CIM_Chassis?.response?.Model}}</span>
                        </div>
                        <div fxFlex="50">
                            <p>Serial No:</p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <span class="mat-h3" data-cy="serialNumber"> {{hwInfo?.CIM_Chassis?.response?.SerialNumber}}</span>
                        </div>
                        <div fxFlex="50">
                            <p>Version: </p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <span class="mat-h3" data-cy="version">{{hwInfo?.CIM_Chassis?.response?.Version}}</span>
                        </div>
                        <div fxFlex="50">
                            <p>AMT Version: </p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <span class="mat-h3" data-cy="amtVersion">{{amtVersion?.CIM_SoftwareIdentity?.responses[3].VersionString}}</span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="calc(50%-24px)" fxFlex.lt-lg="100">
                <mat-card-header>
                    <mat-card-title>
                        AMT Enabled Features
                    </mat-card-title>
                    <mat-card-subtitle>Status of AMT Enabled Features</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="amt-features" [formGroup]="amtEnabledFeatures">
                    <p></p>
                    <div fxLayout="row wrap">
                        <div fxFlex="50">
                            <p>Provisioning Mode:</p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end" data-cy="provisioningMode">
                            {{parseProvisioningMode(amtVersion?.AMT_SetupAndConfigurationService?.response?.ProvisioningMode)}} 
                        </div>
                        <div fxFlex="50">
                            <p>IDE Redirection:</p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <mat-checkbox formControlName="enableIDER" (change)="setAmtFeatures()"></mat-checkbox>
                        </div>
                        <div fxFlex="50">
                            <p>KVM:</p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <mat-checkbox formControlName="enableKVM" (change)="setAmtFeatures()"></mat-checkbox>
                        </div>
                        <div fxFlex="50">
                            <p>SOL:</p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <mat-checkbox formControlName="enableSOL" (change)="setAmtFeatures()"></mat-checkbox>
                        </div>
                        <div fxFlex="50">
                            <p>User Consent:</p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <mat-select (selectionChange)="setAmtFeatures()" formControlName="userConsent" fxFlex="30" [disabled]="isDisabled">
                                <mat-option *ngFor="let uc of userConsentValues" [value]="uc">{{uc}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="calc(50% - 24px)" fxFlex.lt-lg="100">
                <mat-card-header>
                    <mat-card-title>
                        BIOS Summary
                    </mat-card-title>
                    <mat-card-subtitle>Summary of BIOS information</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p></p>
                    <div fxLayout="row wrap">
                        <div fxFlex="50">
                            <p>Manufacturer: </p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <span class="mat-h3" data-cy="biosManufacturer">{{hwInfo?.CIM_BIOSElement?.response?.Manufacturer}}</span>
                        </div>
                        <div fxFlex="50">
                            <p>Version:</p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end"><span class="mat-h3" data-cy="biosVersion">
                                {{hwInfo?.CIM_BIOSElement?.response?.Version}}</span>
                        </div>
                        <div fxFlex="50">
                            <p>Release Date:</p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <span class="mat-h3" data-cy="biosReleaseData">{{hwInfo?.CIM_BIOSElement?.response?.ReleaseDate.Datetime |
                                amDateFormat:'LLL'}}</span>
                        </div>
                        <div fxFlex="50">

                            <p>Target OS:</p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <span class="mat-h3" data-cy="biosTargetOS">
                                {{targetOS[hwInfo?.CIM_BIOSElement?.response?.TargetOperatingSystem || 0] }}
                            </span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="calc(50% - 24px)" fxFlex.lt-lg="100">
                <mat-card-header>
                    <mat-card-title>
                        Memory Summary
                    </mat-card-title>
                    <mat-card-subtitle>Summary of physical memory installed</mat-card-subtitle>
                    <div fxFlex fxLayoutAlign="end start">
                        <mat-icon>memory</mat-icon>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div *ngFor="let bank of hwInfo?.CIM_PhysicalMemory?.responses" fxLayout="row wrap">
                        <div style="margin: 12px 0;" fxFlex=100>
                            <mat-divider ></mat-divider>
                        </div>
                        <div fxFlex="50">
                            <p>Slot: </p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <span class="mat-h3" data-cy="bankLabel"> {{bank.BankLabel}}</span>
                        </div>
                        <div fxFlex="50">
                            <p>Capacity: </p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <span class="mat-h3" data-cy="bankCapacity"> {{bank.Capacity / 1024 / 1024 / 1024 }} GB</span>
                        </div>
                        <div fxFlex="50">
                            <p>Clock Speed(Max):</p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <span class="mat-h3" data-cy="bankMaxClockSpeed"> {{bank.ConfiguredMemoryClockSpeed}}
                                ({{bank.MaxMemorySpeed}}) Mhz</span>
                        </div>
                        <div fxFlex="50">
                            <p>Serial No.:</p>
                        </div>
                        <div fxFlex="50" fxLayoutAlign="end">
                            <span class="mat-h3" data-cy="bankSerialNumber"> {{bank.SerialNumber}}</span>
                        </div>

                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>