<app-device-toolbar [isLoading]="isLoading"></app-device-toolbar>
<mat-sidenav-container autosize>

  <mat-sidenav class="auditlog-sidenav" mode="side" position="end" opened>
    <mat-tab-group>
      <mat-tab label="Audit Log" class="tab">
        <h3 class="mat-h3">Device Audit Log ({{auditLogData.totalCnt}} entries)</h3>
        <mat-vertical-stepper #stepper>
          <mat-step completed="false" editable="false" *ngFor="let entry of auditLogData.records.slice()">
            <ng-template matStepLabel><span data-cy="auditLogEntry">{{entry.Event}}</span><br />{{
              entry.Time | amTimeAgo:true }} ago</ng-template>
          </mat-step>
        </mat-vertical-stepper>
        <div style="margin-top:12px">
          <button mat-flat-button (click)="navigateTo('audit-log')" color="primary" style="margin: 5px">See
            All Activity</button>
        </div>
      </mat-tab>
      <mat-tab label="Event Log" class="tab">
        <h3 class="mat-h3">Device Event Log ({{eventLogData.length}} entries) </h3>
        <mat-vertical-stepper #stepper>
          <mat-step completed="false" editable="false" *ngFor="let entry of eventLogData.slice(0, 10)">
            <ng-template matStepLabel><span data-cy="eventLogEntry">{{entry.Desc}}</span><br />{{ entry.Time
              | amTimeAgo:true }} ago</ng-template>
          </mat-step>
        </mat-vertical-stepper>
        <div style="margin-top:12px">
          <button mat-flat-button (click)="navigateTo('event-log')" color="primary" style="margin: 5px">
            <div data-cy="eventSeeAllActivity">See All Event Activity</div>
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>
  <mat-sidenav-content class="flex flex-row flex-wrap">
    <div class="flex-1 flex-row">
      <mat-card class="flex flex-1">
        <mat-card-header>
          <mat-card-title>
            Out-of-Band Power Actions
          </mat-card-title>
          <mat-card-subtitle>Actions that use Intel® AMT and occur at the hardware level</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="flex-row flex-wrap items-center">
            <button *ngFor="let option of regOobPowerOptions" mat-flat-button matTooltip="{{option.tooltip}}"
              style="flex:1 1 150px;width:150px;max-width:150px;line-height:36px;height:100px"
              (click)="sendPowerAction(option.action)">
              <span>
                <mat-icon>{{option.iconlabel}}</mat-icon>
                <br>
                {{option.label}}
              </span>
            </button>
            <mat-divider style="height:100px" vertical="true"></mat-divider>
            <button *ngFor="let option of biosPxeOobPowerOptions" mat-flat-button matTooltip="{{option.tooltip}}"
              style="flex:1 1 150px;width:150px;max-width:150px;line-height:36px;height:100px"
              (click)="sendPowerAction(option.action)">
              <span>
                <mat-icon>{{option.iconlabel}}</mat-icon>
                <br>
                {{option.label}}
              </span>
            </button>
          </div>
          <br>
          <mat-divider></mat-divider>
          <br>
          <mat-card-header>
            <mat-card-title>
              In-Band Power Actions
            </mat-card-title>
            <mat-card-subtitle>Actions requiring a running agent (e.g., Intel Local Manageability
              Service)</mat-card-subtitle>
          </mat-card-header>
          <div class="flex-row flex-wrap items-center">
            <button *ngFor="let option of ibPowerOptions" mat-flat-button matTooltip="{{option.tooltip}}"
              style="flex:1 1 150px;width:150px;max-width:150px;line-height:36px;height:100px"
              (click)="sendPowerAction(option.action)">
              <span>
                <mat-icon>{{option.iconlabel}}</mat-icon>
                <br>
                {{option.label}}
              </span>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="flex-1 flex-row">
      <mat-card class="flex flex-50 gap-12">
        <mat-card-header>
          <mat-card-title>
            System Summary
          </mat-card-title>
          <mat-card-subtitle>Summary of CPU and Chassis information</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="flex-row flex-wrap">
            <div *ngFor="let chip of hwInfo?.CIM_Chip?.responses" class="flex flex-1">
              <div *ngIf="chip.Version !== null" class="flex-row flex-1 flex-wrap">
                <div class="flex flex-25">
                  <p>CPU: </p>
                </div>
                <div class="flex flex-75 justify-end">
                  <span class="mat-h3" data-cy="chipVersion"> {{chip.Version}}</span>
                </div>
              </div>
            </div>
            <div class="flex flex-50">
              <p>Manufacturer: </p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3" data-cy="manufacturer">
                {{hwInfo?.CIM_Chassis?.response?.Manufacturer}}</span>
            </div>
            <div class="flex flex-50">
              <p>Model: </p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3" data-cy="model"> {{hwInfo?.CIM_Chassis?.response?.Model}}</span>
            </div>
            <div class="flex flex-50">
              <p>Serial No:</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3" data-cy="serialNumber">
                {{hwInfo?.CIM_Chassis?.response?.SerialNumber}}</span>
            </div>
            <div class="flex flex-50">
              <p>Version: </p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3" data-cy="version">{{hwInfo?.CIM_Chassis?.response?.Version}}</span>
            </div>
            <div class="flex flex-50">
              <p>AMT Version: </p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3"
                data-cy="amtVersion">{{amtVersion?.CIM_SoftwareIdentity?.responses[3].VersionString}}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="flex flex-50 gap-12">
        <mat-card-header>
          <mat-card-title>
            AMT Enabled Features
          </mat-card-title>
          <mat-card-subtitle>Status of AMT Enabled Features</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="amt-features" [formGroup]="amtEnabledFeatures">
          <p></p>
          <div class="flex-row flex-wrap">
            <div class="flex flex-50">
              <p>Provisioning Mode:</p>
            </div>
            <div class="flex flex-50 justify-end" data-cy="provisioningMode">
              {{parseProvisioningMode(amtVersion?.AMT_SetupAndConfigurationService?.response?.ProvisioningMode)}}
            </div>
            <div class="flex flex-50">
              <p>IDE Redirection:</p>
            </div>
            <div class="flex flex-50 justify-end">
              <mat-checkbox formControlName="enableIDER" (change)="setAmtFeatures()"></mat-checkbox>
            </div>
            <div class="flex flex-50">
              <p>KVM:</p>
            </div>
            <div class="flex flex-50 justify-end">
              <mat-checkbox formControlName="enableKVM" (change)="setAmtFeatures()"></mat-checkbox>
            </div>
            <div class="flex flex-50">
              <p>SOL:</p>
            </div>
            <div class="flex flex-50 justify-end">
              <mat-checkbox formControlName="enableSOL" (change)="setAmtFeatures()"></mat-checkbox>
            </div>
            <div class="flex flex-50">
              <p>User Consent:</p>
            </div>
            <div class="flex flex-50 justify-end">
              <mat-select (selectionChange)="setAmtFeatures()" formControlName="userConsent" style="width:200px">
                <mat-option *ngFor="let uc of userConsentValues" [value]="uc">{{uc}}</mat-option>
              </mat-select>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="flex-1 flex-row">
      <mat-card class="flex flex-50 gap-12">
        <mat-card-header>
          <mat-card-title>
            BIOS Summary
          </mat-card-title>
          <mat-card-subtitle>Summary of BIOS information</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p></p>
          <div class="flex-row flex-wrap">
            <div class="flex flex-50">
              <p>Manufacturer: </p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3" data-cy="biosManufacturer">{{hwInfo?.CIM_BIOSElement?.response?.Manufacturer}}</span>
            </div>
            <div class="flex flex-50">
              <p>Version:</p>
            </div>
            <div class="flex flex-50 justify-end"><span class="mat-h3" data-cy="biosVersion">
                {{hwInfo?.CIM_BIOSElement?.response?.Version}}</span>
            </div>
            <div class="flex flex-50">
              <p>Release Date:</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3" data-cy="biosReleaseData">{{hwInfo?.CIM_BIOSElement?.response?.ReleaseDate.Datetime |
                amDateFormat:'LLL'}}</span>
            </div>
            <div class="flex flex-50">

              <p>Target OS:</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3" data-cy="biosTargetOS">
                {{targetOS[hwInfo?.CIM_BIOSElement?.response?.TargetOperatingSystem || 0] }}
              </span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="flex flex-50 gap-12" id="memorySummary">
        <mat-card-header>
          <mat-card-title>
            Memory Summary
          </mat-card-title>
          <mat-card-subtitle>Summary of physical memory installed</mat-card-subtitle>
          <div class="flex flex-1 justify-end">
            <mat-icon>memory</mat-icon>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let bank of hwInfo?.CIM_PhysicalMemory?.responses" class="flex-row flex-wrap">
            <div style="margin: 12px 0;" class="flex flex-1">
              <mat-divider></mat-divider>
            </div>
            <div class="flex flex-50">
              <p>Slot: </p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3" data-cy="bankLabel"> {{bank.BankLabel}}</span>
            </div>
            <div class="flex flex-50">
              <p>Capacity: </p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3" data-cy="bankCapacity"> {{bank.Capacity / 1024 / 1024 / 1024 }}
                GB</span>
            </div>
            <div class="flex flex-50">
              <p>Clock Speed(Max):</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3" data-cy="bankMaxClockSpeed"> {{bank.ConfiguredMemoryClockSpeed}}
                ({{bank.MaxMemorySpeed}}) Mhz</span>
            </div>
            <div class="flex flex-50">
              <p>Serial No.:</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3" data-cy="bankSerialNumber"> {{bank.SerialNumber}}</span>
            </div>

          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="flex-row">

      <mat-card class="flex flex-50" id="alarmService">
        <mat-card-header>
          <mat-card-title>
            Alarm Service
          </mat-card-title>
          <mat-card-subtitle>Alarms ({{alarmOccurrences.length}} entries)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list *ngFor="let entry of alarmOccurrences">
            <mat-divider></mat-divider>
            <mat-list-item>
              <div class="flex flex-row">
                <div class="flex-75">
                  <span matListItemTitle data-cy="alarmElementName">{{entry.ElementName}} (InstanceID:
                    {{entry.InstanceID}})</span>
                  <span matListItemLine data-cy="alarmStartTime">Start Time: {{entry.StartTime.Datetime | date:
                    'short'}}</span>
                  <span matListItemLine data-cy="alarmDeleteOnCompletion">Delete on Completion:
                    {{entry.DeleteOnCompletion}}</span>
                  <span matListItemLine data-cy="alarmInterval">Interval: {{entry.Interval?.Interval ?? 'None'}}</span>
                </div>
                <div class="flex flex-25 justify-end">
                  <button mat-icon-button matTooltip="Delete alarm occurrence"
                    (click)="deleteAlarm(entry.InstanceID)"><mat-icon>delete</mat-icon></button>
                </div>
              </div>

            </mat-list-item>
          </mat-list>

          <div class="flex-row flex-wrap">
            <div class="flex-1">
              <mat-divider></mat-divider>
            </div>
            <form [formGroup]="newAlarmForm" (ngSubmit)="addAlarm()" class="flex-1 flex-row flex-wrap">
              <div class="flex flex-1 justify-end">
                <button id="btnAdd" mat-button>
                  <mat-icon>add</mat-icon> Add New
                </button>
              </div>
              <mat-form-field class="flex-1">
                <input formControlName="alarmName" matInput name="alarmName" placeholder="Alarm Name" required>
                <mat-error i18n>This field is required and must be alphanumeric with no symbols.</mat-error>
                <mat-hint>Provide a name for this alarm.</mat-hint>
              </mat-form-field>

              <mat-form-field class="flex-1">
                <mat-label>Interval</mat-label>
                <input formControlName="interval" matInput name="interval" placeholder="0">
                <mat-hint>Interval in minutes for a periodic alarm, 0 for single alarm</mat-hint>
              </mat-form-field>
              <mat-form-field class="flex-1">
                <input formControlName="startTime" [matDatepicker]="startTime" matInput
                  placeholder="Choose a date and time" required>
                <mat-datepicker-toggle matSuffix [for]="startTime"></mat-datepicker-toggle>
                <mat-datepicker #startTime></mat-datepicker>
              </mat-form-field>
              <div class="flex-1 flex-row gap-12">
                <mat-form-field class="flex-50">
                  <mat-label>Hour</mat-label>
                  <mat-select formControlName="hour">
                    <mat-option *ngFor="let hour of hourOptions" [value]="hour">{{hour}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="flex-50">
                  <mat-label>Minutes</mat-label>
                  <mat-select formControlName="minute">
                    <mat-option *ngFor="let minute of minuteOptions" [value]="minute">{{minute}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <br><br>
              <mat-slide-toggle [formControl]="deleteOnCompletion" [checked]="deleteOnCompletion.value">Delete on
                completion</mat-slide-toggle>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
