@import "../../../_variables.scss";

.auditlog-sidenav {
  padding: 20px;
}

.device-details {
  display: block;
}

.kvm-container {
  //display: inline;
  width: 80%;
}

.auditlog-container {
  display: inline;
}

.mat-card {
  .amt-features{
    
    .mat-icon{
      font-size: 24px;
      height: 24px;
      width: 24px;
    }
  }
  .mat-icon{
    font-size: 48px;
    height: 48px;
    width: 48px;
  }
}
p{
  color:map-get($openamtui-primary, 500);
  span{
    color:black
  }
}