@if (isLoading() !== false) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<mat-card>
  <mat-card-header style="justify-content: space-between">
    <mat-card-title>Event Log ({{ eventLogData.length }} entries)</mat-card-title>
    @if (!isCloudMode) {
      <button mat-flat-button color="primary" (click)="download()">Download Event Log (.csv)</button>
    }
  </mat-card-header>
  <mat-card-content>
    @if (isNoData()) {
      <h3 class="flex justify-center">No Event Log</h3>
    } @else {
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Event">
          <mat-header-cell *matHeaderCellDef> Event </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.Desc }} </mat-cell>
        </ng-container>
        @if (isCloudMode) {
          <ng-container matColumnDef="Event Type">
            <mat-header-cell *matHeaderCellDef> Event Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ decodeEventType(element.EventType) }} </mat-cell>
          </ng-container>
        } @else {
          <ng-container matColumnDef="Source">
            <mat-header-cell *matHeaderCellDef> Source </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.Entity }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Severity">
            <mat-header-cell *matHeaderCellDef> Severity </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.EventSeverity }} </mat-cell>
          </ng-container>
        }
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.Time | amDateFormat: 'LLL' }} ({{ element.Time | amTimeAgo: true }} ago)
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    }
  </mat-card-content>
</mat-card>
