@if (isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<mat-card>
  <mat-card-header style="justify-content: space-between">
    <mat-card-title> Audit Log ({{ auditLogData.totalCnt }}) </mat-card-title>
    @if (!isCloudMode) {
      <button mat-flat-button color="primary" [disabled]="isLoading()" (click)="download()">
        Download Audit Log (.csv)
      </button>
    }
  </mat-card-header>
  <mat-card-content>
    @if (isNoData()) {
      <h3 class="flex justify-center">No Audit Log</h3>
    } @else {
      <mat-table [dataSource]="auditLogData.records" matSort>
        <!-- host Column -->
        <ng-container matColumnDef="Event">
          <mat-header-cell *matHeaderCellDef> Event </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.Event }} </mat-cell>
        </ng-container>
        @if (!isCloudMode) {
          <!-- host Column -->
          <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.ExStr }} </mat-cell>
          </ng-container>
        }
        <!-- host Column -->
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.Time | amDateFormat: 'LLL' }} ({{ element.Time | amTimeAgo: true }} ago)
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    }

    <mat-paginator [pageSizeOptions]="pageSizes" [length]="auditLogData.totalCnt" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
