<mat-toolbar>
    <div fxFlex="50">
        Device Name Control
    </div>
    <div fxFlex="50" fxLayoutAlign="end center">
        <button mat-icon-button matTooltip="Connect KVM">
            <mat-icon>tv</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Connect SOL" (click)="navigateTo('sol')" *ngIf="deviceState !== 3">
            <mat-icon>keyboard</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Disconnect SOL" (click)= "stopSol()" *ngIf="deviceState === 3">
            <mat-icon>keyboard_hide</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Power up the device" (click)="sendPowerAction(2)">
            <mat-icon>power</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Power off the device" (click)="sendPowerAction(8)">
            <mat-icon>power_off</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Restart the device" (click)="sendPowerAction(8)">
            <mat-icon>restart_alt</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngFor="let option of powerOptions" mat-menu-item (click)="sendPowerAction(option.action)">
                <span>{{option.label}}</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
<!-- <mat-progress-bar mode=indeterminate [fxShow]="isLoading"></mat-progress-bar> -->