<h2 mat-dialog-title>
    <mat-icon color="warn">warning</mat-icon>
    About the Open AMT Sample Web UI
</h2>
<mat-dialog-content class="mat-typography">

    <br />
    <p>
        This reference implementation demonstrates the APIs and general functionality of the Open Active Management Technology Cloud Toolkit and is NOT meant for production use.
    </p>
    <mat-divider></mat-divider>
    <br />
    <h3>This sample UI is meant for the following:</h3>
    <mat-list dense>
        <mat-list-item> Learn how the Open AMT Cloud Toolkit manages devices </mat-list-item>
        <mat-list-item> Set Up Profiles, Configuration, and Domains </mat-list-item>
        <mat-list-item> Understand Open AMT's implementation of the REST APIs and how they can be used in your own application </mat-list-item>
        <mat-list-item> How to use the UI Toolkit </mat-list-item>
    </mat-list>

</mat-dialog-content>
<mat-dialog-actions align="end">

    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Got it</button>
</mat-dialog-actions>