<h2 mat-dialog-title>Add a New Device</h2>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submitForm()" >
    <mat-form-field appearance="fill" class="flex flex-1">
      <mat-label>Hostname</mat-label>
      <input matInput title="hostname" formControlName="hostname">
      <mat-hint>Enter the hostname</mat-hint>
      @if (form.get('hostname')?.errors?.required) {
        <mat-error>Hostname is required</mat-error>
      }
      @if (form.get('hostname')?.errors?.pattern) {
        <mat-error>Invalid hostname format</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex flex-1">
      <mat-label>Friendly Name</mat-label>
      <input matInput title="friendlyName" formControlName="friendlyName">
      <mat-hint>Enter a friendly name</mat-hint>
      @if (form.get('friendlyName')?.errors?.required) {
        <mat-error>Friendly Name is required</mat-error>
      }
      @if (form.get('friendlyName')?.errors?.maxlength) {
        <mat-error>Friendly Name cannot be longer than 50 characters</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex flex-1">
      <mat-label>Username</mat-label>
      <input matInput title="username" formControlName="username">
      <mat-hint>Enter your username</mat-hint>
      @if (form.get('username')?.errors?.required) {
        <mat-error>Username is required</mat-error>
      }
      @if (form.get('username')?.errors?.minlength) {
        <mat-error>Username must be at least 5 characters long</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex flex-1">
      <mat-label>Password</mat-label>
      <input matInput title="password" formControlName="password" type="password">
      <mat-hint>Enter your password</mat-hint>
      @if (form.get('password')?.errors?.required) {
        <mat-error>Password is required</mat-error>
      }
      @if (form.get('password')?.errors?.minlength) {
        <mat-error>Password must be at least 8 characters long</mat-error>
      }
    </mat-form-field>

    <mat-checkbox formControlName="useTls" class="flex flex-1">Use TLS</mat-checkbox>
    <mat-checkbox formControlName="allowSelfSigned" class="flex flex-1">Allow Self-Signed Certificates</mat-checkbox>

    <button mat-raised-button color="primary" type="submit" >Submit</button>
  </form>

</div>
