<mat-toolbar>
  {{pageTitle}}
</mat-toolbar>

<div class="flex-row flex-1">
  <div class="flex-25 hide-sm"></div>
  <mat-card class="flex flex-50">
    <mat-list *ngIf="errorMessages.length > 0">
      <mat-list-item *ngFor="let item of errorMessages">
        <mat-icon color="warn" mat-list-icon>error</mat-icon>
        {{ item }}
      </mat-list-item>
    </mat-list>
    <form [formGroup]="wirelessForm" (ngSubmit)="onSubmit()">
      <mat-card-content class="flex-row flex-wrap">

        <mat-form-field class="flex flex-1">
          <mat-label>Wireless Profile Name</mat-label>
          <input formControlName="profileName" matInput name="profileName" placeholder="ex. wifiSSID" required>
          <mat-error i18n>This field is required and must be alphanumeric with no spaces or symbols.</mat-error>
          <mat-hint>Provide a name for this wireless profile.</mat-hint>
        </mat-form-field>
        <mat-form-field class="flex flex-1">
          <mat-label>Authentication Method</mat-label>
          <mat-select formControlName="authenticationMethod" required>
            <mat-option *ngFor="let method of authenticationMethods" [value]="method.value">
              {{method.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="flex flex-1" *ngIf='showPSKPassPhrase'>
          <mat-label>PSK Passphrase</mat-label>
          <input [type]="pskInputType" matInput formControlName="pskPassphrase" name="pskPassphrase">
          <mat-error i18n>This field is required and must be between 8 and 32 characters</mat-error>
          <button mat-icon-button matSuffix type="button" matTooltip="Show / Hide Password" (click)="togglePSKPassVisibility()">
            <mat-icon *ngIf="pskInputType === 'text'">visibility</mat-icon>
            <mat-icon *ngIf="pskInputType !== 'text'">visibility_off</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="flex flex-1" *ngIf='showIEEE8021x'>
          <mat-label>802.1x Configuration</mat-label>
          <mat-select formControlName='ieee8021xProfileName'>
            <mat-option *ngFor='let cfgName of iee8021xConfigNames' [value]='cfgName'>
              {{cfgName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="flex flex-1">
          <mat-label>Encryption Method</mat-label>
          <mat-select formControlName="encryptionMethod" required>
            <mat-option *ngFor="let encryptionMode of encryptionModes" [value]="encryptionMode.value">
              {{encryptionMode.label}}
            </mat-option>
          </mat-select>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field class="flex flex-1">
          <mat-label>SSID</mat-label>

          <input type="text" formControlName="ssid" matInput name="ssid" placeholder="ex. wifi-ssid" required maxlength="32">
          <mat-error>This field is required</mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions class="flex-row flex-wrap">
        <div class="flex flex-50 justify-center">
          <button type="button" mat-button color="primary" (click)="cancel()">
            <span i18n>CANCEL</span>
          </button>
        </div>
        <div class="flex flex-50 justify-center">
          <button type="submit" mat-flat-button color="primary">
            <span i18n>SAVE</span>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
  <div class="flex-25 hide-sm"></div>

</div>
