<div fxLayout="row wrap">
    <div fxFlex=33.3>
        <mat-card class="connected">
            <div fxFlexLayout="row">
                <div fxFlex=25 fxLayoutAlign='center center'>
                    <mat-icon>devices</mat-icon>
                </div>
                <div fxFlex=75>
                    <h1 class="mat-display-1">13</h1>
                    <p>Total devices</p>
                </div>
            </div>

        </mat-card>
    </div>
    <div fxFlex=33.3>
        <mat-card >
            <div fxFlexLayout="row">
                <div fxFlex=25 fxLayoutAlign='center center'>
                    <mat-icon>phonelink</mat-icon>
                </div>
                <div fxFlex=75>
                    <h1 class="mat-display-1">13</h1>
                    <p>Devices Connected</p>
                </div>
            </div>

        </mat-card>
    </div>
    <div fxFlex=33.3>
        <mat-card class="disconnected">
            <div fxFlexLayout="row">
                <div fxFlex=25 fxLayoutAlign='center center'>
                    <mat-icon>phonelink_off</mat-icon>
                </div>
                <div fxFlex=75>
                    <h1 class="mat-display-1">13</h1>
                    <p>Devices Disconnected</p>
                </div>
            </div>

        </mat-card>
    </div>
</div>

<div fxLayout="row wrap" style="margin: 15px">
    <!-- <mat-card>
        <mat-card-header> -->
    <div fxFlex=100>
        <h1 class="mat-display-1">Welcome!</h1>
        <br />
        <p class="mat-title">Lets get started! If you haven't checked out the documentation first, we recommended you
            start <a href="https://open-amt-cloud-toolkit.github.io/docs">here</a> to become familiar
            with the how the Open AMT Cloud toolkit works. Once you're ready, follow the steps below to configure the toolkit to manage your devices. </p>
        <br />
        <br />
    </div>

    <!-- </mat-card-header>
        <mat-card-content fxFlexLayout="row wrap"> -->
    <div fxFlex=25 fxLayoutAlign="center stretch" fxLayout="row">
        <div fxFlex=25>
            <button mat-fab>1</button>
        </div>
        <div>
            <h2 class="mat-h2">Create a Domain</h2>
            <p>Required for activation in Admin Control Mode</p>
        </div>

    </div>
    <div fxFlex=25 fxLayoutAlign="center stretch" fxLayout="row">
        <div fxFlex=25>
            <button mat-fab>2</button>
        </div>
        <div>
            <h2 class="mat-h2">Create a CIRA Config</h2>
            <p>The CIRA config describes connection settings for where the device needs to connect.</p>
        </div>

    </div>
    <div fxFlex=25 fxLayoutAlign="center stretch" fxLayout="row">
        <div fxFlex=25>
            <button mat-fab>3</button>
        </div>
        <div>
            <h2 class="mat-h2">Create a Profile</h2>
            <p>The profile is used to activate a device with a given CIRA config, activation mode, and network settings.
            </p>
        </div>

    </div>
    <div fxFlex=25 fxLayoutAlign="center stretch" fxLayout="row">
        <div fxFlex=25>
            <button mat-fab>4</button>
        </div>
        <div>
            <h2 class="mat-h2">Manage your device</h2>
            <p>Lorem imsump....</p>
        </div>

    </div>

    <!-- </mat-card-content>
    </mat-card> -->
</div>
