// Import material theming functions
@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$openamtui-primary: mat-palette($mat-light-blue);
$openamtui-accent: mat-palette($mat-blue-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$openamtui-warn: mat-palette($mat-red);