
// Custom Theming for Angular Material
@use '@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';
// Plus imports for other components in your app.
@import "~./_variables.scss";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();



// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$openamtui-theme: mat.define-light-theme((
  color: (
    primary: $openamtui-primary,
    accent: $openamtui-accent,
    warn: $openamtui-warn,
  )
));

$openamtui-dark-theme: mat.define-dark-theme((
  color: (
    primary: $openamtui-primary,
    accent: $openamtui-accent,
    warn: $openamtui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($openamtui-dark-theme);

.light-theme {
  @include mat.all-component-colors($openamtui-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-card {
  margin: 12px;
}
.mat-row{
  -moz-transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;  
  transition: all .4s ease-in;
  &:hover {
    background-color: map-get($openamtui-accent, 100);
    cursor:pointer;
    -moz-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;  
    transition: all .4s ease-in;
  }
}
.mat-drawer-container {
  background-color: #fafafa;
  color:rgba(0, 0, 0, 0.87);
}
.mat-form-field{
  margin-bottom: 10px;
}
.mat-snack-bar-container {
  &.warn {
    text-align: center;
    padding-left: 40px;
    text-transform: uppercase;
    border-top-color: #FF9800;
    border-top-width: 5px;
    border-top-style: solid;
  }
  &.warn::before {
    @extend .material-icons;
    content: "warning_outline";
    position: absolute;
    left: 8px;
    top: 12px;
  }
  &.error {
    text-align: center;
    padding-left: 40px;
    text-transform: uppercase;
    border-top-color: map-get($openamtui-warn, 500);
    border-top-width: 5px;
    border-top-style: solid;
  }
  &.error::before {
    @extend .material-icons;
    content: "error_outline";
    position: absolute;
    left: 8px;
    top: 12px;
  }
  &.success {
    text-align: center;
    padding-left: 40px;
    text-transform: uppercase;
    //background-color: map-get($openamtui-primary, 900);
    border-top-color: map-get($openamtui-primary, 300);
    border-top-width: 5px;
    border-top-style: solid;
  }
  &.success::before {
    @extend .material-icons;
    content: "check_circle";
    position: absolute;
    left: 8px;
    top: 12px;
  }
}
.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}