<mat-toolbar>
    <div fxLayoutAlign="start center" fxFlex="33">
        <span i18n>Profiles</span>
    </div>
    <div fxFlex></div>
    <div fxFlex="33" fxLayoutAlign="end">
        <button id="btnAddMale" fxHide.xs mat-button (click)="navigateTo()">
            <mat-icon>add</mat-icon> Add New
        </button>
    </div>
</mat-toolbar>
<mat-progress-bar mode='indeterminate' [fxHide]="isLoading===false"></mat-progress-bar>

<mat-card>
    <mat-card-content>
        <h3 [fxShow]="isNoData()" fxLayoutAlign="center">No Profiles</h3>
        <mat-table [dataSource]="profiles" [fxHide]="isNoData()">
            <!-- select Column -->
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef fxFlex="50px"> </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="50px">
                    <mat-checkbox [(ngModel)]="row.isChecked" (click)="$event.stopPropagation()"></mat-checkbox>
                </mat-cell>
            </ng-container>
            <!-- name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.profileName }} </mat-cell>
            </ng-container>

            <!-- network config Column -->
            <ng-container matColumnDef="networkConfig">
                <mat-header-cell *matHeaderCellDef fxFlex="150px"> Network Config </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="150px"> {{ element.networkConfigName }}
                </mat-cell>
            </ng-container>

            <!-- cira config Column -->
            <ng-container matColumnDef="ciraConfig">
                <mat-header-cell *matHeaderCellDef fxFlex="150px"> CIRA Config </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="150px"> {{ element.ciraConfigName }}
                </mat-cell>
            </ng-container>

            <!-- activation Column -->
            <ng-container matColumnDef="activation">
                <mat-header-cell *matHeaderCellDef fxFlex="150px"> Activation Mode </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="150px"> {{ element.activation }}
                </mat-cell>
            </ng-container>

            <!-- remove Column -->
            <ng-container matColumnDef="remove">
                <mat-header-cell *matHeaderCellDef fxFlex="12.5"> </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="12.5" (click)="$event.stopPropagation()">
                    <button mat-icon-button (click)="delete(row.profileName)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateTo(row.profileName)"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>