<mat-toolbar>
  {{ pageTitle }}
</mat-toolbar>
<mat-progress-bar mode=indeterminate [fxShow]="isLoading"></mat-progress-bar>
<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="50" fxFlex.lt-md=100>
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-list *ngIf="errorMessages.length > 0">
      <mat-list-item *ngFor="let item of errorMessages">
        <mat-icon color="warn" mat-list-icon>error</mat-icon>
        {{ item }}
      </mat-list-item>
    </mat-list>
    <form [formGroup]="domainForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div fxLayout="row wrap">
          <mat-form-field fxFlex="100">
            <input formControlName="profileName" matInput name="name" placeholder="Name" required>
            <mat-error>This field is required</mat-error>
            <mat-hint>Enter a name to give this domain (ex. AMT Domain)</mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <input formControlName="domainSuffix" matInput name="domainName" placeholder="Domain Name" required minlength=3>
            <mat-error>This field is required</mat-error>
            <mat-hint>Enter the FQDN that is associated with the provisioning certificate (i.e amtdomain.com)</mat-hint>
          </mat-form-field>
          <div fxLayout="row wrap" fxFlex=100>
            <div fxFlex="50" style="margin-top:12px">
              <button type="button" color="primary" mat-raised-button (click)="fileInput.click()">Choose File</button>
              <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" accept=".pfx">
            </div>
            <div fxFlex="50" fxLayoutAlign="start center">
              <div fxLayoutAlign="center center" [fxShow]="domainForm.controls.provisioningCert.value == null">
                <mat-icon    color="warn">remove_circle</mat-icon>
                Certificate Not Yet Uploaded
              </div>
              <div fxLayoutAlign="center center" [fxShow]="domainForm.controls.provisioningCert.value != null">
                <mat-icon    color="primary">check_circle</mat-icon>
                Certificate Uploaded
              </div>
            </div>
          </div>

          <mat-form-field fxFlex="100">
            <input type="password" formControlName="provisioningCertPassword" matInput name="provisioningCertPassword" placeholder="Provisioning Cert Password" required>
            <mat-error>This field is required</mat-error>
            <mat-hint>The password for the provisioning certificate</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="50" fxLayoutAlign="center center">
            <button type="button" mat-button color="primary" (click)="cancel()">
              <span i18n>CANCEL</span>
            </button>
          </div>
          <div fxFlex="50" fxLayoutAlign="center center">
            <button id="btnLogin" type="submit" mat-flat-button color="primary">
              <span i18n>SAVE</span>
              <span class="glyphicon glyphicon-log-in padding10L"></span>
            </button>
          </div>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>