<mat-toolbar>
  {{ pageTitle }}
</mat-toolbar>
@if (isLoading) {
  <mat-progress-bar mode=indeterminate></mat-progress-bar>
}
<div class="flex-row flex-1 justify-center">
  <div class="flex-25 hide-sm"></div>
  <mat-card class="flex flex-50">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    @if (errorMessages.length > 0) {
      <mat-list>
        @for (item of errorMessages; track item) {
          <mat-list-item>
            <mat-icon color="warn" mat-list-icon>error</mat-icon>
            {{ item }}
          </mat-list-item>
        }
      </mat-list>
    }
    <form [formGroup]="domainForm" (ngSubmit)="onSubmit()">
      <mat-card-content class="flex-row flex-wrap">
        <mat-form-field class="flex flex-1">
          <input formControlName="profileName" matInput name="name" placeholder="Name" required>
          <mat-error>This field is required</mat-error>
          <mat-hint>Enter a name to give this domain (ex. AMT Domain)</mat-hint>
        </mat-form-field>

        <mat-form-field class="flex flex-1">
          <input formControlName="domainSuffix" matInput name="domainName" placeholder="Domain Name" required minlength=3>
          <mat-error>This field is required</mat-error>
          <mat-hint>Enter the FQDN that is associated with the provisioning certificate (i.e amtdomain.com)</mat-hint>
        </mat-form-field>

        <div class="flex-row flex-wrap flex-1" style="margin:16px 0">
          <div class="flex flex-50" style="margin-top:12px">
            <button type="button" color="primary" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" accept=".pfx">
          </div>
          <div class="flex flex-50 justify-center items-center">
            @if (domainForm.controls.provisioningCert.value == null) {
              <div class="flex justify-center">
                <mat-icon color="warn">remove_circle</mat-icon>
                Certificate Not Yet Uploaded
              </div>
            }
            @else {
              <div class="flex flex-50 justify-center">
                <mat-icon color="primary">check_circle</mat-icon>
                Certificate Uploaded
              </div>
            }
          </div>
        </div>

        <mat-form-field class="flex flex-1" style="margin:16px 0">
          <input [type]="certPassInputType" formControlName="provisioningCertPassword" matInput name="provisioningCertPassword" placeholder="Provisioning Cert Password" required>
          <mat-error>This field is required</mat-error>
          <mat-hint>The password for the provisioning certificate</mat-hint>
          <button mat-icon-button matSuffix type="button" matTooltip="Show / Hide Password" (click)="toggleCertPassVisibility()">
            @if (certPassInputType === 'text') {
              <mat-icon>visibility</mat-icon>
            } @else {
              <mat-icon>visibility_off</mat-icon>
            }
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="flex-row">
        <div class="flex flex-50 justify-center">
          <button type="button" mat-button color="primary" (click)="cancel()">
            <span i18n>CANCEL</span>
          </button>
        </div>
        <div class="flex flex-50 justify-center">
          <button type="submit" mat-flat-button color="primary">
            <span i18n>SAVE</span>
            <span class="glyphicon glyphicon-log-in padding10L"></span>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
  <div class="flex-25 hide-sm"></div>
</div>
