<mat-toolbar>
  <div class="flex-33">
    <span i18n>Devices</span>
  </div>
  <div class="flex justify-end">
    <button mat-button (click)="addDevice()">
      <mat-icon>add</mat-icon>
      <span i18n>Add a Device</span>
    </button>
  </div>
  @if (!selectedDevices.isEmpty()) {
  <div>
    <button mat-button (click)="bulkEditTags()">
      <mat-icon>edit</mat-icon>
      <span i18n>Edit Tags</span>
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="Power up selected devices" (click)="bulkPowerAction(2)">
      <mat-icon>power</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Power off selected devices" (click)="bulkPowerAction(8)">
      <mat-icon>power_off</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Restart selected devices" (click)="bulkPowerAction(5)">
      <mat-icon>restart_alt</mat-icon>
    </button>
    <button mat-icon-button [matTooltip]="deleteDeviceLabel" (click)="bulkDeactivate()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  }
</mat-toolbar>
@if (isLoading) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<mat-card>
  <mat-card-header>
    <div class="flex-row flex-wrap flex-1">
      <div class="flex flex-66" style="width: 66%">
        <mat-form-field data-cy="filterSearch" style="width: 100%">
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter Devices...." />
          <mat-hint>Enter text to filter current page</mat-hint>
        </mat-form-field>
      </div>
      <div class="flex flex-33 justify-end">
        <mat-form-field data-cy="filterTags">
          <mat-label>Filter Tags</mat-label>
          <mat-select [(ngModel)]="filteredTags" (selectionChange)="tagFilterChange($event)" name="tag" multiple>
            @for (tag of tags; track tag) {
            <mat-option [value]="tag">
              {{ tag }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    @if (isNoData()) {
    <h3 class="flex justify-center">
      @if (!filteredTags.length) {
      <span>No Devices</span>
      } @else {
      <span>No Devices Match Filter Selection</span>
      }
    </h3>
    } @else {
    <mat-table [dataSource]="devices" matSort>
      <!-- select Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()" [indeterminate]="areOnlySomeDevicesSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let device">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectedDevices.toggle(device) : null" [checked]="selectedDevices.isSelected(device)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <!-- host Column -->
      <ng-container matColumnDef="hostname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Hostname (Friendly Name)</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="navigateTo(element.guid)">
          {{ element.hostname }}
          @if (element.friendlyName !== null) {
          <span>&nbsp;({{ element.friendlyName }})</span>
          }
        </mat-cell>
      </ng-container>
      <!-- guid Column -->
      <ng-container matColumnDef="guid">
        <mat-header-cell *matHeaderCellDef> GUID</mat-header-cell>
        <mat-cell data-cy="guid" *matCellDef="let element" (click)="navigateTo(element.guid)">
          {{ element.guid }}
        </mat-cell>
      </ng-container>
      <!-- status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="navigateTo(element.guid)">
          @if (isCloudMode) {
          {{ translateConnectionStatus(element.connectionStatus) }}
          @if (element.connectionStatus) {
          <span>&nbsp;(Power: {{ powerStates[element.powerstate] }})</span>
          }
          } @else {
          Power: {{ powerStates[element.powerstate] }}
          }
        </mat-cell>
      </ng-container>
      <!-- tags Column -->
      <ng-container matColumnDef="tags">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <!-- include this always hidden icon to match spacing in the cell -->
          <mat-icon class="alwaysHidden">edit</mat-icon>
          Tags
        </mat-header-cell>
        <mat-cell class="tags" *matCellDef="let element">

            <mat-icon class="addTag" (click)="$event.stopPropagation(); editTagsForDevice(element.guid)">edit</mat-icon>

          <mat-chip-set>
            @for (tag of element?.tags; track tag) {
            <mat-chip [disableRipple]="true">{{ tag }}</mat-chip>
            }
          </mat-chip-set>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          @if (!selectedDevices.isSelected(element)) {
          <div>
            <button mat-icon-button matTooltip="Power up the device" (click)="$event.stopPropagation(); sendPowerAction(element.guid, 2)">
              <mat-icon>power</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Power off the device" (click)="$event.stopPropagation(); sendPowerAction(element.guid, 8)">
              <mat-icon>power_off</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Restart the device" (click)="$event.stopPropagation(); sendPowerAction(element.guid, 5)">
              <mat-icon>restart_alt</mat-icon>
            </button>
            <button mat-icon-button [matTooltip]="deleteDeviceLabel" (click)="$event.stopPropagation(); sendDeactivate(element.guid)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Edit Device" (click)="$event.stopPropagation();editDevice(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          }
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="notification">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          @if (element.StatusMessage === 'SUCCESS') {
          <mat-icon color="primary" matTooltip="Action sent successfully">check_circle</mat-icon>
          } @else if (element.StatusMessage === 'NOT_READY') {
          <mat-icon color="warn" matTooltip="Power action sent, however device responded with not ready">warning</mat-icon>
          } @else if (element.StatusMessage === 'ERROR') {
          <mat-icon color="warn" matTooltip="Error sending action">error</mat-icon>
          } @else{

          }
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <!--      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateTo(row.guid)"></mat-row>
    </mat-table>
    }

    @if (totalCount) {
    <div>
      <mat-paginator [pageSizeOptions]="[25, 50, 100]" [pageSize]="25" [length]="totalCount" (page)="pageChanged($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
    }
  </mat-card-content>
</mat-card>
